body {
  background-color: #f5ebeb;
  text-align: center;
}

* {
  font-family: "Lucida Console", Courier, monospace;
  color: #826982;
}

h1 {
  color: white;
   -webkit-text-stroke: 1.25px #624c63;
}

h1#big-name {
  padding-top: 2em;
  margin-block-end: 0.50em;
  font-weight: bold;
  font-size: 4em;
}

a {
  padding-right: 2em;
  color: #624c63;
}

div#links {
}

.nav-bar{
  text-align: right;
}

div#bio {
  margin-left: 25em;
  margin-right: 25em;
  text-align: left;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 1em;
}

li {
  display: inline;
}

div#art {
  margin-left: 15em;
}

div.gallery {
  margin: 5em;
  border: 1px solid #ccc;
  float: left;
  width: 10em;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 1em;
  text-align: left;
}
